In [12]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

df = pd.read_csv(r'C:\Users\flore\OneDrive\Desktop\bida406\Boston_Housing.csv', delimiter=';', header=0)
print(df)

geometry = gpd.points_from_xy(longitude, latitude)
gdf = gpd.GeoDataFrame(geometry, crs='epsg:4326')

      ,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0      0,0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0...
1      1,1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,11...
2      2,2,-122.24,37.85,52.0,1467.0,190.0,496.0,177....
3      3,3,-122.25,37.85,52.0,1274.0,235.0,558.0,219....
4      4,4,-122.25,37.85,52.0,1627.0,280.0,565.0,259....
...                                                  ...
20635  20635,20635,-121.09,39.48,25.0,1665.0,374.0,84...
20636  20636,20636,-121.21,39.49,18.0,697.0,150.0,356...
20637  20637,20637,-121.22,39.43,17.0,2254.0,485.0,10...
20638  20638,20638,-121.32,39.43,18.0,1860.0,409.0,74...
20639  20639,20639,-121.24,39.37,16.0,2785.0,616.0,13...

[20640 rows x 1 columns]

NameError: name 'longitude' is not defined

In [7]:
df

      ,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0      0,0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0...
1      1,1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,11...
2      2,2,-122.24,37.85,52.0,1467.0,190.0,496.0,177....
3      3,3,-122.25,37.85,52.0,1274.0,235.0,558.0,219....
4      4,4,-122.25,37.85,52.0,1627.0,280.0,565.0,259....
...                                                  ...
20635  20635,20635,-121.09,39.48,25.0,1665.0,374.0,84...
20636  20636,20636,-121.21,39.49,18.0,697.0,150.0,356...
20637  20637,20637,-121.22,39.43,17.0,2254.0,485.0,10...
20638  20638,20638,-121.32,39.43,18.0,1860.0,409.0,74...
20639  20639,20639,-121.24,39.37,16.0,2785.0,616.0,13...

[20640 rows x 1 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 1 columns):
 #   Column                                                                                                                                               Non-Null Count  Dtype
---  ------                                                                                                                                               --------------  -----
 0   ,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity  20640 non-null  object
dtypes: object(1)
memory usage: 161.4+ KB